In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [25]:
data = pd.read_csv('MZVAV-1.csv')
dates = data['Datetime']
Tout = data['AHU: Outdoor Air Temperature']

In [38]:
# dates
dates_np = dates.to_numpy() 
dates_np = dates_np.reshape([1440, 189])
# Outdoor Temperature
Tout_np = Tout.to_numpy()
Tout_np = Tout_np.reshape([1440, 189])

In [39]:
# reconstruire la DataFrame
dates_2 = pd.DataFrame(data=dates_np)
Tout_2 = pd.DataFrame(data=Tout_np)
# subset a effacer apres
Tout_2 = Tout_2.iloc[:5]

In [40]:
print(Tout_2.shape)
Tout_2.head()

(5, 189)

,0,1,2,3,4,5,6,7,8,9,...,179,180,181,182,183,184,185,186,187,188
0,32.00,32.00,-5.93,-5.88,-5.83,-5.78,-5.73,-5.67,-5.62,-5.57,...,-5.88,-5.93,-5.98,-5.98,-5.98,-5.98,-5.98,-5.98,-5.98,-5.98
1,-5.98,-5.98,-5.98,-5.98,-5.98,-5.98,-5.98,-5.98,-5.98,-5.98,...,-5.98,-5.98,-5.98,-5.98,-5.98,-5.98,-5.98,-5.98,-5.98,-5.98
2,-5.98,-5.98,-5.98,-5.98,-5.98,-5.98,-5.98,-5.98,-5.98,-5.98,...,0.36,0.44,0.52,0.60,0.68,0.76,0.84,0.92,1.00,1.09
3,1.17,1.25,1.33,1.41,1.49,1.57,1.65,1.73,1.81,1.89,...,11.24,11.29,11.34,11.38,11.43,11.48,11.53,11.58,11.62,11.67
4,11.72,11.77,11.82,11.86,11.91,11.96,12.01,12.06,12.10,12.15,...,13.39,13.37,13.35,13.33,13.32,13.30,13.28,13.26,13.24,13.23

In [ ]:
cols = list(range(0, 189))
cols = [str(i) for i in cols]
cols
Tout_2.